/*Selector global*/
*{
    margin: 0px;
    padding: 0px;
}
/*Selectores de etiquetas*/
body{
    background-color: #ffffff;
}
header{
    background-color:#115e9b;
    box-shadow: 0px 5px 15px;
    /*border-radius: 0 0 50px 50px;*/
}
h1{
    font-family:monospace;
    text-align: right;
}
.ft-column h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
}
footer a{
    display: block;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
main{
    margin: 50px 53px;
    margin-left: 290px;
    background-color: #617294;
    box-shadow: 5px 5px 15px;
    padding: 0px;
    overflow: auto;
    border-radius: 25px;
}
nav{
    width: 230px;
    height: auto;
    background-color: #515e79;
    margin: 50px 0px;
    padding: 0px 5px;
    box-shadow: 5px 5px 15px;
    float: left;
    display: inline;
    border-radius: 0px 25px 25px 0px;
}
.pro-info p{
    margin: 15px 0px;
    font-size: 15.5px;
    max-height: 310px;
}
footer{
    text-align: center;
    height: 350px;
    width: 100%;
    background-color: #1c1535;
    color: aliceblue;
    margin-top: 200px;
    padding-top: 0px;
}
footer span{
    line-height: 50px;
    font-size: 20px;
    font-family:sans-serif;
}
/*Selectores de clase*/
.button{
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    display: inline-block;
    background-color: #000000;
    color: aliceblue;
    padding-top: 8px;
    border-radius: 15px;
    transition: all 0.3s;
}
.button:hover{
    background-color: #0e2a67;
    font-size: 18px;
}
.pro-info{
    float: right;
    width: 245px;
    height: 310px;
    padding: 10px;
    margin: 10px 10px 10px 5px;
    background-color: #bae0ff;
    text-align: left;
    border-radius: 0px 15px 15px 0px;
}
.producto{
    width: 480px;
    height: 350px;
    float: left;
    margin: 20px;
    background-color:azure;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
}
.prod-img{
    height: 330px;
    width: 195px;
    margin: 10px 5px;
    margin-right: 0px;
    float: left;
    text-align: center;
}
.prod-img > img{
    width: 190px;
    height: 190px;
    float: left;
}
.ca-icon img{
    width: 40px;
    height: 40px;
}
.ca-menu{
    visibility:visible;
}
.ft-column{
    background-color:;
    height: 200px;
    width: 200px;
    text-align: left;
    display: inline-block;
}
/*Selectores de id*/
#bar{
    height: 50px;
    width: 100%;
    background-color: #5a77b6;
    box-shadow: 0px 5px 10px;
}
#banner{
    height: 220px;
}
#logo{
    width: 60px;
    height: 50px;
    background-color:#0eb5b5;
    box-shadow: 5px;
    text-align: center;
    margin-left: 95px;
    float: left;
    border-radius: 10px;
}
#logo > img{
    width: 50px;
    height: 50px;
}
#title{
    text-align: right;
    height: 50px;
    display: inline-block;
    margin-right: 45px;
    float: right;
}
#title h1{
    text-align: right;
    margin: auto;
    color: aliceblue;
    height: 40px;
    padding: 5px;
}
#separador1{
    width: 100%x;
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px;
}
#ft-cont{
    overflow: auto;
}
#ret-top{
    height: 50px;
    margin-bottom: 50px;
    background-color: black;
    transition: all 0.3s;
}
#ret-top:hover{
    background-color: #595959;
}

/**********************************************
***********************************************
*************ESTILOS PARA PRODUCTOS************
***********************************************
***********************************************/
#header-lamps{
    background-color:#576686;
    box-shadow: 0px 5px 15px;
    /*border-radius: 0 0 50px 50px;*/
}
#body-lamps{
    background-color: #d6dddc;
}
#categ{
    height: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 50px auto;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
#cat-img{
    height: 110px;
    text-align: center;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
}
#cat-options{
    height: 25px;
    width: 200px;
    background-color: #8e8e8e;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    border-radius:0px 0px 10px 10px;
    transition: all 0.5s;
}
#cat-options:hover{
    background-color: #529552;
    border-radius:0px 0px 100px 100px;
}
#cat-img img{
    height: inherit;
}
.cat-container{
    text-align: center;
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}
.ca-menu li.nav-lamp:first-child{
    background-color: #00ffeb;
}